<div style="display:flex">
    <div style="flex:1">
        <p>Welcome to the first official <em>Savage Worlds</em> premium content pack for Foundry Virtual Tabletop. Within, please find the complete, fully interlinked <em>Savage Worlds Adventure Edition</em> core rules. Additionally, you will find all art
            from the core rule book as well as more than 200 additional art pieces. Many other goodies from the core rules are included as well, such as automated rolltables, ready-to-go Items, weapons with pre configured actions, and tokenized Actors
            and Vehicles.</p>
        <p>We hope you enjoy this labor of love and that your games are <em>Fast, Furious, and Fun!</em></p>
        <h2>Purchasing the Module</h2>
        <ol>
            <li><b>Activate your content key on the Foundry VTT website: </b>You can <a href="https://www.peginc.com/store/savage-worlds-adventure-edition-core-rules-pdf-swade/">purchase a license</a> key and supporting documentation for the <em>Savage Worlds Adventure Edition</em>                Core Rules module directly from the PEG license store as an electronic download.</li>
            <li><b>Activate the module within Foundry: </b>To activate your copy of the module, log into foundryvtt.com and enter your license key into the Premium Content interface.</li>
            <li><b>Install the module from the Module Browser in the Foundry VTT application</b></li>
        </ol>
        <h2>Module Contents</h2>
        <ul>
            <li>Make your table official with the complete <em>Savage Worlds Adventure Edition</em> core rules fully interlinked for ease of reference in Foundry VTT’s native Journal Entry format.</li>
            <li>Make your game hum smoothly with a complete catalog of draggable <strong>Skills, Hindrances, Edges, gear, and powers</strong> – with full-text descriptions and integrated actions for various attack and damage rolls–to build, equip, and Advance
                characters on the fly.
            </li>
            <li>Make your game even more <em>Fast! Furious! Fun!</em> with <strong>automated rollable tables</strong> (for Battle Effects, Creative Combat, Dynamic Backlash, Fear, Injury, Out of Control, Reaction, and Vehicle Critical Hits) and every vehicle
                (with full stats, art, and additional actions for mounted weapons).</li>
            <li>Make your table attractive with the <strong>complete art folio</strong> from the core rulebook, plus an <strong>additional $20 value of extra art</strong> including:
                <ul>
                    <li>42 full extra bestiary portraits with matching tokens</li>
                    <li>142 images for weapons and armor</li>
                    <li>47 images for vehicles</li>
                </ul>
            </li>
            <li>Make your combats dynamic with the entire bestiary from the core rules with interactive Special Abilities and complete art for portraits.</li>
            <li>If you are already playing <em>Savage Worlds</em> on Foundry VTT with the free <em>Savage Worlds</em> Adventure Edition system package, this module includes a macro that will update all Actors with the full-text versions of Items applied to
                existing characters.
            </li>
        </ul>
        <p>To learn more about this module, please visit <a href="https://gitlab.com/peginc/core-rules-issues">the Gitlab Repository</a></p>
    </div>
    <figure class="right">
        <img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/SWADE_FVTT.jpg" alt="SWADE_FVTT" height="650">
        <figcaption>Welcome to Savage Worlds Adventure Edition!</figcaption>
    </figure>
</div>
<div class="flexrow">
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/bestiary.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/bestiary.png" style="max-width:480px" /></a>
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/edges_and_hindrances.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/edges_and_hindrances.png" style="max-width:480px" /></a>
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/equipment.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/equipment.png" style="max-width:480px" /></a>
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/rules.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/rules.png" style="max-width:480px" /></a>
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/tables.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/tables.png" style="max-width:480px" /></a>
    <a href="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/vehicles.png"><img src="https://gitlab.com/peginc/core-rules-issues/-/raw/master/assets/screenshots/vehicles.png" style="max-width:480px" /></a>
</div>